     *{background-color: antiquewhite;
        margin: 0px;

     }h1{
            background-color: rgb(33, 34, 34);
        }
            .second{
                color: rgb(255, 0, 0);
            }
            #third{
                color: white;
                font-family: 'Courier New', Courier, monospace;
            }
        